body {
    font-family: "Malgeun Gothic", "Open Sans";
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none !important;
}

/* 프로젝트 단계 */
span.badge.bg-secondary a,
span.badge.bg-info a,
span.badge.bg-warning a,
span.badge.bg-primary a {
    color: #fff !important;
    text-decoration: none !important;
}

/* a 태그 */
span.badge.badge-success a,
span.badge.badge-secondary a,
span.badge.badge-warning a,
span.badge.badge-primary a,
span.badge.bg-purple a,
span.badge.badge-info a,
.post-meta a,
span.bg-vivid-cyan-blue a,
span.bg-blulish-gray a,
span.bg-vivid-purple a,
span.bg-vivid-orange a,
span.bg-vivid-red a,
span.bg-vivid-cyan2 a,
span.bg-light-dark a,
span.bg-title1 a,
span.badge.bg-vivid-cyan-blue a,
span.badge.bg-vivid-amber a,
span.badge.badge-danger a {
  color: #fff !important;
  text-decoration: none !important;
}

.blulish-gray {color: #abb8c3;}
.pale-pink {color: #f78da7;}
.vivid-red {color: #cf2e2e;}
.vivid-orange {color: #ff6900;}
.vivid-amber {color: #fcb900;}
.vivid-cyan1 {color: #7bdcb5;}
.vivid-cyan2 {color: #00d084;}
.pale-cyan-blue {color: #8ed1fc;}
.vivid-cyan-blue {color: #0693e3;}
.vivid-purple {color: #9b51e0;}
.light-dark {color: #999;}
.bg-blulish-gray {background-color: #abb8c3;}
.bg-light-dark {background-color: #999;}
.bg-pale-pink {background-color: #f78da7;}
.bg-vivid-red {background-color: #cf2e2e;}
.bg-vivid-orange {background-color: #ff6900;}
.bg-vivid-amber {background-color: #fcb900;}
.bg-vivid-cyan1 {background-color: #7bdcb5;}
.bg-vivid-cyan2 {background-color: #00d084;}
.bg-pale-cyan-blue {background-color: #8ed1fc;}
.bg-vivid-cyan-blue {background-color: #0693e3;}
.bg-vivid-purple {background-color: #9b51e0;}
.bg-pg-header {
    background-color: #e39292;
  }

