.badge {

    &__blue {
        background-color: $my_blue !important;
    }

    &__green {
        background-color: $my_green !important;
    }

    &__red {
        background-color: $my_red !important;
    }

    &__dark {
        background-color: $my_dark !important;
    }

    &__yellow {
        background-color: $my_orange !important;
    }

    &__teal {
        background-color: $teal !important;
    }

    &__purple {
        background-color: $my_purple !important;
    }

    &__orange {
        background-color: $orange !important;
    }

    &__light {
        background-color: $gray-300 !important;
    }

}

a.my_badge, .my_badge {
    color: white !important;
    font-size: 0.8rem !important;
}

.bg_myblue {
    color:  #fff !important;
    background-color: $my_blue;
}
