.post-title {
    font-size: 1.5rem;

    a {
        /* color: $purple !important; */
        color: #444 !important;
    }

    &__slug {
        font-size: 70%;
        color: $red;
        opacity: 0.5;
        font-weight: 300;
        float: right;
    }
}

.post-meta {
    .meta {
        color: #ccc;
        font-size: 0.95rem;
        padding-right: 5px;
        margin-bottom: 10px;

        .badge a {
            color: #fff !important;
            font-size: 0.9rem !important;
        }
    }

}
