/* 기본 테이블 스타일 */
table.custom-excel-table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px 0;
    font-size: 15px;
    text-align: center;
}

.custom-excel-table th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

.custom-excel-table th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.custom-excel-table tr:hover {
    background-color: #eaf8e3;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap; /* 모든 열 줄바꿈 방지 */
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
.filter-input {
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
}


// .custom-excel-table tr:hover {
//     background-color: #eaf8e3;
// }


/* 엑셀 테이블에만 적용되는 스타일 */
// .custom-excel-table {
//     font-size: 14px;
//     text-align: left;
//     border: 1px solid #4CAF50;
//     margin: 10px 0;
// }

// .custom-excel-table th {
//     background-color: #4CAF50;
//     color: white;
//     text-align: center;
// }

// .custom-excel-table tr:nth-child(even) {
//     background-color: #f2f2f2;
// }

// .custom-excel-table tr:hover {
//     background-color: #eaf8e3;
// }
