/* 기본 테이블 스타일 */
table.custom-excel-table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
    // font-size: 16px;
    text-align: left;
    font-family: 'Times New Roman', serif;
    // font-family: inherit; /* 에디터 폰트 상속 */
    color: inherit; /* 에디터 글씨 색상 상속 */
}

.custom-excel-table th {
    border: 1px solid #ddd;
    padding: 3px 5px;
    white-space: nowrap; /* 모든 열 줄바꿈 방지 */
    text-align: left;
}
.custom-excel-table td {
    border: 1px solid #ddd;
    padding: 3px 5px;
    white-space: nowrap; /* 모든 열 줄바꿈 방지 */
    text-align: left;
}
.custom-excel-table th {
    background-color: #f9f9f9;
    font-weight: bold;
}
.custom-excel-table tr:hover {
    background-color: #eaf8e3;
}
.custom-excel-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.custom-excel-table tr:hover {
    background-color: #f1f1f1;
}
.custom-excel-table .filter-input {
    width: 90%;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', serif;
    // font-family: inherit; /* 에디터 글씨체 상속 */
        font-size: inherit; /* 에디터 글씨 크기 상속 */
}


// .custom-excel-table tr:hover {
//     background-color: #eaf8e3;
// }


/* 엑셀 테이블에만 적용되는 스타일 */
// .custom-excel-table {
//     font-size: 14px;
//     text-align: left;
//     border: 1px solid #4CAF50;
//     margin: 10px 0;
// }

// .custom-excel-table th {
//     background-color: #4CAF50;
//     color: white;
//     text-align: center;
// }

// .custom-excel-table tr:nth-child(even) {
//     background-color: #f2f2f2;
// }

// .custom-excel-table tr:hover {
//     background-color: #eaf8e3;
// }
